.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./assets/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.box {
    width: 25rem;
    /* height: 10vw; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(9, 8, 9, .5); */
}

.title1 {
    margin-bottom: 0;
    /* text-decoration: underline; */
}

.title2 {
    margin-top: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 3vw;
    padding-left: calc(5vw - .5rem);
    text-shadow: black 2px 2px 2px;
}