/* @media screen and (max-width: 720px) {
    header {
        width: 101vw;
        height: 6rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        padding: 0rem 0rem;

    }

    .HomeButton {
        margin-top: 1rem;
        /* padding-bottom: 1.5rem; */
        /* margin-left: 0rem;
        padding-left: 0rem;
        display: flex;
        justify-content: center;
    } */

    /* .MainNav {
        padding-bottom: 2rem;
        /* justify-content: center; */
        /* justify-content: center;
        padding-right: 0rem;
        padding-left: 0rem;
    } */

    /* a {
        font-size: 1rem;
    }
} */

